.member-warp {
    > .group-create {
        > .ivu-card {
            > .ivu-card-body {
                > .extend-info {
                    background: #f5f7f9;
                    font-size: 12px;
                    margin-bottom: 20px;
                    padding: 20px 40px;
                }
            }
        }
    }
}