.member-warp {
    > .user-create {
        > .ivu-card {
            > .ivu-card-body {
                > .extend-info {
                    background: #f5f7f9;
                    font-size: 12px;
                    margin-bottom: 20px;
                    padding: 20px 40px;
                }
                > .ivu-form {
                    > .extend-title {
                        background: #f5f7f9;
                        font-size: 14px;
                        font-weight: bold;
                        height: 40px;
                        line-height: 40px;
                        margin-bottom: 20px;
                        padding: 0 20px;
                    }
                    > .ivu-row {
                        > .ivu-col {
                            > .ivu-form-item {
                                > .ivu-form-item-content {
                                    &:after {
                                        clear: both;
                                        content: " ";
                                        display: table;
                                        font-size: 0;
                                        height: 0;
                                    }
                                    > .image-preview {
                                        border: 2px solid #ccc;
                                        position: relative;
                                        width: 204px;
                                        > i {
                                            bottom: 0;
                                            font-size: 30px;
                                            position: absolute;
                                            right: 0;
                                        }
                                        > img {
                                            display: block;
                                            max-width: 200px;
                                        }
                                    }
                                    > .ivu-upload {
                                        background: #f5f7f9;
                                        float: left;
                                        height: 90px;
                                        width: 90px;
                                        > .ivu-upload-select {
                                            background: url("../images/plus.svg") center no-repeat;
                                            height: 90px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    > .ivu-table-wrapper {
                        border-left: none;
                        margin-bottom: 20px;
                        > .ivu-table:after {
                            width: 0;
                        }
                    }
                    > .user-group-extend {
                        > p {
                            margin-bottom: 20px;
                            padding-left: 200px;
                        }
                        > .ivu-row {
                            margin-bottom: 20px;
                            > .ivu-col {
                                &:first-child {
                                    padding-left: 200px;
                                }
                                > .ivu-checkbox-wrapper {
                                    margin: 7px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    > .user-list {
        > .ivu-card {
            > .ivu-card-head {
                &:after {
                    clear: both;
                    content: " ";
                    display: table;
                    font-size: 0;
                    height: 0;
                }
                &:before {
                    clear: both;
                    content: " ";
                    display: table;
                }
                > .search {
                    float: right;
                    &:after {
                        clear: both;
                        content: " ";
                        display: table;
                        font-size: 0;
                        height: 0;
                    }
                    &:before {
                        clear: both;
                        content: " ";
                        display: table;
                    }
                    > a {
                        float: left;
                        margin-right: 10px;
                    }
                    > button {
                        float: left;
                        margin-right: 10px;
                    }
                    > .ivu-input-wrapper {
                        float: left;
                        margin-top: -1px;
                        width: 400px;
                    }
                }
                > .text {
                    display: block;
                    float: left;
                    font-weight: bold;
                    height: 32px;
                    line-height: 32px;
                }
            }
            > .ivu-card-body {
                > .ivu-table-wrapper {
                    border-left: none;
                    > .ivu-table {
                        &:after {
                            width: 0;
                        }
                        > .ivu-table-body {
                            > table {
                                > .ivu-table-tbody {
                                    > .ivu-table-row {
                                        > td {
                                            > .ivu-table-cell {
                                                > div {
                                                    padding: 10px 0;
                                                    > .user-list-image {
                                                        border-radius: 50%;
                                                        display: block;
                                                        height: 32px;
                                                        width: 32px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                > .user-page-wrap {
                    margin-top: 20px;
                    &:after {
                        clear: both;
                        content: " ";
                        display: table;
                        font-size: 0;
                        height: 0;
                    }
                    &:before {
                        clear: both;
                        content: " ";
                        display: table;
                    }
                    > .ivu-page {
                        float: right;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    > .user-ban {
        > .ivu-card {
            > .ivu-card-head {
                &:after {
                    clear: both;
                    content: " ";
                    display: table;
                    font-size: 0;
                    height: 0;
                }
                &:before {
                    clear: both;
                    content: " ";
                    display: table;
                }
                > .search {
                    float: right;
                    > .ivu-input-wrapper {
                        width: 300px;
                    }
                }
                > .text {
                    font-weight: bold;
                    height: 32px;
                    line-height: 32px;
                }
            }
            > .ivu-card-body {
                > .ivu-table-wrapper {
                    border-left: none;
                    > .ivu-table {
                        &:after {
                            width: 0;
                        }
                        > .ivu-table-body {
                            > table {
                                > .ivu-table-tbody {
                                    > .ivu-table-row {
                                        > td {
                                            > .ivu-table-cell {
                                                > div {
                                                    padding: 10px 0;
                                                    > .user-list-image {
                                                        border-radius: 50%;
                                                        display: block;
                                                        height: 32px;
                                                        width: 32px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                > .user-page-wrap {
                    padding-top: 20px;
                    &:after {
                        clear: both;
                        content: " ";
                        display: table;
                        font-size: 0;
                        height: 0;
                    }
                    &:before {
                        clear: both;
                        content: " ";
                        display: table;
                    }
                    > .ivu-page {
                        float: right;
                    }
                }
            }
        }
    }
}

.user-list-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    .ivu-modal {
        top: 0;
        > .ivu-modal-content {
            > .ivu-modal-body {
                padding: 40px 72px;
                > p {
                    font-size: 14px;
                    margin-bottom: 40px;
                    text-align: center;
                }
            }
        }
    }
}